.file {
    margin: 10px 0;
    border-bottom: solid 2px #566885;
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    align-items: center;
}

.file:hover {
    transform: scale(1.02);
}

.file__img {
    justify-self: center;

}

.file__name {
    grid-column-start: 2;
}

.file__date {
    grid-column-start: 5;
    justify-self: center;
}

.file__size {
    grid-column-start: 6;
    justify-self: center;
}

.file:hover .file__date {
    grid-column-start: 3;
}

.file:hover .file__size {
    grid-column-start: 4;
}

.file__btn {
    display: none;
}

.file:hover .btn__download {
    grid-column-start: 5;
    display: block;
}

.file:hover .btn__delete {
    grid-column-start: 6;
    display: block;
}

.filePlate {
    width: 150px;
    height: 150px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filePlate__img {
    height: 100px;
    width: 100px;

}

.filePlate__name {

}

.filePlate__bt {
    display: none;
}

.filePlate:hover .filePlate__bt {
    display: flex;
}

.filePlate__btn {

}

.btnPlate__download {

}

.btnPlate__delete {

}