.uploader {
    height: 300px;
    width: 300px;
    position: fixed;
    background-color: #566885;
    bottom: 0;
    right: 0;
    padding: 20px;
    border-radius: 15px 15px 0 15px;
    overflow-y: auto;
}

.uploader__header {
    display: flex;
    justify-content: space-between;
}

.uploader__title {
    color: #E9E6E6;
    font-size: 1.2rem;
}

.uploader__close {
    padding: 3px;
}